<header>
  <!-- Logo -->
  <div id="logo">
    <h1>{{title}}</h1>
  </div>

  <div id="carrinho">
    <img src="#" alt="#">
  </div>

  <div id="auth" aling="center">
    <a href="/login/">entrar ou cadastre-se</a>
  </div>


</header>
<nav>
  <ul>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Arduino</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Raspberry PI</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Acessórios</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Componentes</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Ferramentas</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>

<div id="content">
  <section>
   <app-auth></app-auth>
  </section>
</div>

<footer>&copy;</footer>
